.calendar {
  margin-bottom: 2.5rem;
  &__title {
    @include sectionName;
  }

  &__year {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  &__pagination {
    @include flex-center;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    @include borderBottom;
    p {
      margin-bottom: 0;
      font-size: 2rem;
      width: 150px;
    }
  }

  &__single-event {
    @include borderBottom;
    margin-bottom: 1rem;
    padding-bottom: 1rem;

    &--day {
      margin-bottom: 1rem;

      .day-date {
        display: block;
        font-size: 1.6rem;
        font-weight: bold;
      }

      .day-name {
        font-weight: bold;
      }
    }

    .day-events {
      margin-bottom: .6rem;
      [class*=col-] {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      p {
        margin-bottom: 0;
      }

      .event-title {
        font-weight: 600;
        font-size: 1.6rem;
        text-align: center;
      }

      .event-place {
        text-decoration: underline;
      }

      .separate {
        @include borderBottom;
        padding-bottom: .6rem;
      }
    }
  }
}
