// .footer {
//   display: none;
// }
//
// @include respond-to($sm-desktop) {
//   .footer {
//     position: fixed;
//     height: auto;
//     width: 100vw;
//     display: block;
//     padding: 0;
//     background-color: #101019;
//     top: 0;
//   }
//
//   .main-navigation__list.footer-navigation__list {
//     text-align: right;
//     width: 70%;
//     padding: 0;
//     margin: 0 auto;
//     display: flex;
//     justify-content: space-between;
//   }
// }
