.gallery-page {

}

.gallery-section-name {
  @include sectionName;
}

.section-name-heading {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2.5rem;
  padding-bottom: 1.5rem;
  @include borderBottom;
}

.gallery-container {
  @include circuit;
  margin-bottom: 7rem;
}

.gallery__photo {
  @include circuit;
  margin-bottom: 2rem;
  .gallery__photo--item {
    @include circuit;
  }
  .gallery__photo--figcaption {
    text-align: center;
  }
}

@media only screen and (min-width: 768px) {
  .gallery-section-name {
    @include sectionNameDesktop;
  }
  .main__container.gallery {
    padding: 7rem 2rem;
  }
}

@media only screen and (min-width: 1024px) {
  .main__container.gallery {
    width: 50%;
    margin: 0 35%;
  }
  .gallery__photo {
    overflow: hidden;
  }
}

.imageEffectOnEnter {
  animation: imageEffectIn 1s forwards;
}

.imageEffectOnLeave {
  animation: imageEffectOut 1s forwards;
}
