.home-page {
  padding: 0;
  height: calc(100vh - 7rem);

  .landscape-container {
    height: 100%;

    .main__figure {
      height: 100%;
      width: 100vw;
      overflow: hidden;
      @include flex-center;

      &--item {
        height: 100%;
        width: auto;
        max-width: none;
      }
    }
  }
}

@include respond-to($tablet) {
  .home-page {
    height: calc(100vh - 9rem);
    .landscape-container {
      .main__figure {
        &--item {
          height: auto;
          width: 100%;
        }
      }
    }
  }
}

@include respond-to($desktop) {
  .home-page {
    width: 100%;
    height: 100vh;
    padding-top: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-image: url(../../images/background2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    opacity: 0.01;
    animation: backgroudEffect 7s forwards;
  }

  .main__continer--arrow {
    display: none;
  }
}
