.home-page {
  padding: 0;
  height: calc(100vh - 7rem);

  .landscape-container {
    height: 100%;

    .main__figure {
      height: 100%;
      width: 100vw;
      overflow: hidden;

      &--item {
        height: 100%;
        width: auto;
        max-width: none;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .home-page {
    .main__figure {
      padding-bottom: 5rem;
      width: 90%;
      height: auto;
      margin: 0 auto;
    }
    .main__figure--img {
      padding-bottom: 4rem;
    }
    .main__continer--arrow {
      top: 87vh;
      right: 5rem;
    }
  }
}

@media only screen and (min-width: 1024px) {
  .home-page {
    width: 100%;
    height: 100vh;
    padding-top: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-image: url(../../images/background2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    opacity: 0.01;
    animation: backgroudEffect 7s forwards;
  }

  .main__continer--arrow {
    display: none;
  }
}
