*{
  margin: 0;
  background: 0;
  border: 0;
  box-sizing: border-box;

  &:focus {
    outline: none!important;
    box-shadow: none!important;
  }
}

html {
  font-size: 10px;
  background-color: $backgroundColor;
}

body {
  font-family: $mainFontFamily;
  font-weight: $light;
  color: $fontColor;
  background-color: $backgroundColor;
}

.main {
  display: block;
  padding-top: 7rem;
  animation: backgroudEffect 3s forwards;
  min-height: 100vh;
}

.main-container {
  padding: 2rem 2rem;
}

h1,
h2 {
  display: none;
}

h3,
h4 {
  font-weight: $light;
}

ul {
  -webkit-padding-start: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: $fontColor;
}

//img {
// @include circuit;
//}

strong {
  font-weight: $light;
}


@media screen and (min-aspect-ratio: 13/9) and (max-width: 1023px) {
  #root {
    > * {
      display: none;
    }
    position: relative;
    &:before {
      content: 'Obróć ekran';
      font-size: 3rem;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1000000;
    }
  }
}
